img[alt='avatar'] {
    border-radius: 50%;
    width: 193px;
    height: 193px;
    box-shadow: 0 2px 4px var(--c-shadow-1);
}
.markdown-body a {
    color: var(--c-5);
}
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6 !important;
    color: var(--c-text-2) !important;
}
.content > *:last-child {
    margin-bottom: 0;
}