article {
    background-color: #fff;
    box-shadow: 0 2px 4px var(--c-shadow-1);
}

.title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 10px;
}

article .meta a {
    color: var(--c-5);
    font-weight: 600;
}

article .meta a:hover {
    color: var(--c-2);
}

#main {
    background-color: var(--c-bg-1);
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6 !important;
    color: var(--c-text-2) !important;
}

.markdown-body em {
    font-style: italic;
}

.markdown-body ol, .markdown-body ul, .markdown-body li {
    list-style: disc;
}
.container .cover img {
    max-height: 500px;
    object-fit: cover;
}
.content > *:last-child {
    margin-bottom: 0;
}
.comment-wrap {
    background-color: #fff;
    box-shadow: 0 -1px 4px var(--c-shadow-1);
    padding: 0 20px;
    min-height: 124px;
    position: relative;
}

.close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ccc;
}
