.category-card .cover {
    height: 80px;
    flex: 100px 0 0;
    margin-right: 10px;

}
.category-card .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-card {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 1% !important;
    margin-bottom: 1%;
    display: inline-block;
}

.category-card .content {
    display: flex;
}
.category-card .content .inf {
    overflow: hidden;
    justify-content: space-around;
}
.category-card .content .inf .name {
    color: #fa7872;
    font-size: 18px;
}
.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.count {
    color: var(--c-5);
    font-size: 13px;
}