.comment-wrap {
    background-color: #fff;
    box-shadow: 0 2px 4px var(--c-shadow-1);
    padding: 40px 20px 0;
}

.comment-wrap textarea {
    /* width: 70%; */
    padding: 8px 6px;
    resize: none;
    font-size: 14px;
    /* border-color: var(--c-border-2); */
    border: 1px solid var(--c-border-3);
    border-radius: 3px;
    transition: all 0.5s;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--c-border-3);
}

.textarea-wrap {
    /* flex: 1;
    flex-basis: 70%; */
    /* width: 70%;
    position: relative; */
    float: left;
    margin-right: 15px;
    width: 70%;
}

.comment-form-wrap .head::after {
    /* position: absolute; */
    content: " ";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.comment-wrap textarea:focus {
    /* border-color: var(--c-text-1); */
    padding-left: 10px;
}

.comment-wrap .head .btn-wrap {
    float: left;
    width: 70px;
}

.comment-wrap .input-wrap {
    width: 40%;
}

.comments {
    margin-top: 30px;
}

.comments > .meta {
    border-bottom: 3px solid var(--c-border-1);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.comments > .meta .item {
    padding: 5px 0 2px 0;
    color: var(--c-3);
}

.comments .foot {
    display: flex;
    font-size: 13px;
    color: var(--c-text-5);
}

.comments .comment .speaker {
    font-size: 14px;
    color: var(--c-text-2);
    /* line-height: 24px; */
}

/* .sub-comment .speaker {
    line-height: 24px;
} */

.comments .text .content {
    font-size: 14px;
    color: var(--c-text-2);
}


.comments .foot > .item {
    margin-right: 10px;
    line-height: 24px;
}

/* .comments .container {
    padding-top: 40px;
} */

.comment {
    padding-top: 18px;
    padding-bottom: 18px;
}

.comment:not(:last-child) {

    border-bottom: 1px solid var(--c-border-1);
}

/* .line {
    height: 1px;
    background-color: var(--c-border-1);
    margin-top: 14px;
} */

.sub-comment {
    /* padding-left: 40px; */
    /* padding: 6px 0 4px 40px; */
    padding: 8px 0 0 40px;
}

/* .sub-comment:last-child {
    padding-bottom: 0;
} */


.comment-form-wrap .foot {
    width: 40%;
}

.inner-comment-form-wrap {
    padding: 8px 0 10px 40px;
}