#gitalk-container {
    padding-bottom: 20px;
}

#gitalk-container .gt-container .gt-btn-preview {
    color: var(--c-5);
}
#gitalk-container .gt-user-name {
    color: var(--c-5);
}

#gitalk-container .gt-container .gt-btn-login {
    background-color: var(--c-5);
    border: 1px solid var(--c-5);
}

#gitalk-container .gt-container .gt-btn-public {
    background-color: var(--c-5);
    border: 1px solid var(--c-5);
}

#gitalk-container .gt-container .gt-btn-public:hover {
    background-color: #fb938e;
    border: 1px solid #fb938e;
}

#gitalk-container .gt-container .gt-btn {
    border: 1px solid var(--c-5);
}

#gitalk-container .gt-container a {
    color: var(--c-5);
}

#gitalk-container .gt-container .gt-btn-preview:hover {
    border: 1px solid #fb938e;
}

#gitalk-container .gt-container .gt-svg svg {
    fill: var(--c-5);
}

#gitalk-container .gt-container .gt-comment-username {
    color: var(--c-5);
}

#gitalk-container .gt-container .gt-popup .gt-action.is--active:before {
    background: var(--c-5);
}