#header {
    /*position: relative;*/
    border-bottom: 1px solid var(--c-border-1);
    min-height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;
}
#bar {
    height: 64px;
    box-shadow: 0 2px 4px var(--c-shadow-1);
    background-color: #fff;
}

#main {
    color: var(--c-text-2);
    padding: 64px 0 30px 0;
}

#footer {
    color: var(--c-text-2);
}
#main .container {
    position: relative;
}

#main .container .left {
    margin-right: calc(28% + 10px);
}
#main .container .right {
    width: 28%;
    position: absolute;
    top: 10px;
    right: 0;
}

#footer .container .item {
    display: inline-flex;
    font-size: 14px;
}

/* 去除a标签之间的间隔（nav-link-parent,nav-link一起使用） */
/* .nav-link-parent {
    font-size: 0;
} */

.nav-link {
    font-size: 17px;
    color: var(--c-text-1);
    height: 64px;
    display: flex;
    align-items: center;
}

/*.nav-link.actived span {*/
/*    position: relative;*/
/*}*/

/*.nav-link.actived span {*/
/*    color: var(--c-1);*/
/*    font-weight: 700;*/
/*}*/

/*.nav-link.actived span::after {*/
/*    position: absolute;*/
/*    content: " ";*/
/*    bottom: -8px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    width: 16px;*/
/*    height: 3px;*/
/*    border-radius: 10px;*/
/*    background-color: var(--c-1);*/
/*}*/

#footer .container > .wrapper {
    margin-right: calc(28% + 10px);
    text-align: center;
    padding: 20px 0;
    color: var(--c-text-3)
}

.nav .nav-item {
    float: left;
    margin-right: 20px;
}