:root {
    /*主背景*/
    /* --bg: #f0eeee; */
    /* --bg_darken: #e2e2e2; */
    /*模块背景*/
    /* --card_bg: white; */
    /*链接的颜色*/
    /* --active: #409eff; */
    /*字体颜色的不同等级*/
    /* --font_1: #333; */
    /* --font_2: #555; */
    /* --font_3: #777; */
    /* --font_del: #dd6161; */
    --nav-bgc: #fff;
    --nav-c: #fff;
    --main-bgc: #f5f5f5;
    --main-c: #333;
    --footer-bgc: #fff;
    --footer-c: #333;

    /* 深色 */
    --c-1: rgba(250, 106, 99, 1);
    --c-2: rgba(250, 106, 99, 0.9);
    --c-5: rgba(250, 106, 99, 0.8);
    /* 浅色 */
    --c-3: rgb(243, 176, 174);
    --c-4: rgb(251, 171, 165);

    /* 主要用于边框 */
    --c-border-1: #e5e6eb;
    --c-border-2: #ccc;
    --c-border-3: #eee;

    /* 主要用于文字 */
    --c-text-1: #333; 
    --c-text-2: #333c;
    --c-text-3: #ccc;
    --c-text-4: #b4b4b4;
    --c-text-5: #86909c;
    --c-text-6: rgb(61, 61, 61);

    /* 主要用于阴影 */
    --c-shadow-1: #00000014;
    --c-shadow-2: #0000001a;

    --main-font-size: 15px;

    /* 主要用于标签 */
    --c-tag-1: #42c02e;
    --c-tag-2: rgb(244, 132, 61);
    --c-tag-3: rgb(0, 166, 124);
    --c-tag-4: rgb(66, 116, 107);
    --c-tag-5: rgb(241, 224, 193);
    --c-tag-6: rgb(245, 149, 248);
    --c-tag-7: rgb(241, 193, 215);

    /* 背景色 */
    --c-bg-1: #f9f9f9;
}